<!DOCTYPE html>
<html lang="fr">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Wasla_App</title>
    <!-- <link rel="stylesheet" href="/css/style.css" /> -->
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    <script src="~/js/service-worker.js"></script> <!-- Exemple pour un fichier JavaScript -->

</body>
</html>

</html>